.drum-pad {
  padding: 2rem 3rem;
  cursor: pointer;
  font-size: 2rem;
  min-width: 130px;
  border-radius: 8px;
  background: #757575;
  color: #fff;
  border: none;
  font-weight: bold;
  -webkit-box-shadow: inset 0px 0px 16px -1px #000000;
  box-shadow: inset 0px 0px 16px -1px #000000;
  outline: none;
  font-family: "Russo One", sans-serif;
}
.drum-pad.active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
